<header class="py-3 mb-4 border-bottom">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
          <img class="skivori-logo" src="assets/img/cropped-design_skivori_v2.png" alt="Skivori Logo">
        </a>
      </div>
      <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              ariaCurrentWhenActive="page" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/games" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              ariaCurrentWhenActive="page" class="nav-link">Games</a>
          </li>
          <li class="nav-item">
            <a routerLink="/games/slots" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              ariaCurrentWhenActive="page" class="nav-link">Slots</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>