<div>
  <div class="row mb-5">
    <div class="col-12 text-center">
      <button class="btn btn-primary" (click)="convert()">Convert</button>
    </div>
  </div>
  @if (data) {
  <script src="https://gist.github.com/ibrahimhajjaj/a0e39e7330aebf0feb49912f1bf9062f.js"></script>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li><strong>1 EUR</strong></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled">
        @for (keypar of data | keyvalue; track keypar.key) {
        <li>
          <strong>{{ keypar.key }}:</strong>&nbsp;{{ keypar.value }}
        </li>
        }
      </ul>
    </div>
  </div>
  }
</div>