<h1 class="text-center mb-5">Games</h1>

<app-search (onQueryChange)="onQueryChange($event)" />

@switch (status) {
@case (STATUS.LOADING) {
<app-loading />
}
@case (STATUS.ERROR) {
<div class="alert alert-warn text-center">
  An error occurred while loading the games.
</div>
}
@case (STATUS.SUCCESS) {
@if (games) {
<div class="row">
  @for (game of games; track $index) {
  <div class="col-md-4">
    <app-card-game [game]="game" [additionalClasses]="['mb-4']" />
  </div>
  } @empty {
  <div class="col-12">
    <div class="alert alert-info text-center">
      No games available.
    </div>
  </div>
  }
</div>
}
}
}